{
    "presets": [
        "airbnb"
    ],
    "plugins": [
        "transform-runtime",
        "transform-async-functions",
        "transform-regenerator",
        "transform-class-properties"
    ],
    "env": {
    }
}
